@import '../../scss/mixins';

.menu {
    .menu-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: #333;
        font-size: 18px;
        transition: background-color 0.3s;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: #E3F3F0;
            color: #27a082;

            .menu-item-icon {
                color: #27a082;
            }
        }

        &-icon {
            width: 30px;
            margin-right: 5px;
            color: #c9d1d3;
            text-align: center;
        }

        &.active {
            color: #27a082;

            .menu-item-icon {
                color: #27a082;
            }
        }
    }
}