form {
    .form-group {
      margin-bottom: 1.5rem;
    }

    .input-group-text {
      background-color: #27a082;
      color: #fff;
      padding: 1rem;
    }

    .form-control {
      border: 1px solid #c9d1d3;
      height: 50px;

      &:focus {
          outline: none;
          box-shadow: none;
      }
    }

    .form-check-input {
      cursor: pointer;

      &:checked {
        background-color: #27a082;
      }

      &:active {
        box-shadow: none;
      }
    }

    #submitFormBtn {
      background-color: #27a082;
      padding: 10px 0;
      font-size: 1rem;

      &:hover,
      &:active {
          background-color: rgba(39, 160, 130, 0.9);
      }
    }

    .custom-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position: right .75rem center;
      background-size: .65em auto;
      cursor: pointer;

      & ~ .fa-chevron-down {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 999;
        pointer-events: none;
      }
    }
}