

@import '../../scss/mixins';

.event-details-dialog {
    .form-group.required {
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            right: 5px;
            content: "*";
            color: red;
            font-size: 1.5rem;
        }
    }

    .react-datepicker-wrapper {
        flex-grow: 1;

        input {
            width: 100%;
            height: 48px;
            text-align: center;
        }
    }

    .modal-title {
        text-align: center;
    }

    .event-photo-preview {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            max-width: 100%;
            width: 200px;
        }
    }

    @include respond-to(phones) {
        margin-top: 75px !important;

        .event-photo-preview img {
            width: unset;
            max-height: 200px;
        }
    }
}