.event {
    display: grid;
    align-content: center;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    padding: 4px;
    box-sizing: border-box; // Include padding and border in the element's dimensions
    text-align: center;
    grid-column: 1 / -1; // Event will take full width of the day column
  }
  
  .event-title {
    font-size: 0.85em;
  }
  