@import 'node_modules/bootstrap/scss/bootstrap';
@import '../../scss//mixins';

#createFormContainer {
  background-color: #E3F3F0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  max-width: 100%;
  padding: 50px 0;

  .create-event-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 480px;

    @include respond-to(phones) {
        min-width: unset;
        width: 100%;
    }
  }

  h3 {
    color: #27a082;
  }

  @include respond-to(phones) {
    padding: 50px 0 0;
  }
}